[Unit]
Description=Service to monitor drip irrigation system master water valve
After=network.target

[Service]
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/python3 valve_monitor.py
WorkingDirectory=/home/pi/valve_control
StandardOutput=mull

[Install]
WantedBy=multi-user.target
Alias=valve_status.service
